body {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font-weight: regular;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list-photo,
.porfolio-photo {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ==================header==================== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em; /* 0.54/18 */
  text-transform: uppercase;
  display: flex;
  align-items: center;

  margin-right: 76px;
}
.header-logo-studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}
.header-nav-link {
  color: #2e2f42;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24/16 */
  letter-spacing: 0.02em; /* 0.32/16 */
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}
address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-item {
}
.header-address-link {
  color: #434455;

  /* Body */
  font-family: Roboto;
  font-size: 16px;

  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-nav-item {
}
.header-nav-item:hover,
:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}

/* ==================header end============ */
/* ===================hero================ */
.hero {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}
.hero-container {
}
.hero-title {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  max-width: 288px;

  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    max-width: 496px;

    margin: 0 auto;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
  .hero-title {
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    max-width: 496px;

    margin: 0 auto;
    margin-bottom: 48px;
  }
}
/* ================hero end============== */
/* ================features================= */

.features-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-icon-container {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.features-item {
  /* 320px */
}

@media screen and (min-width: 768px) {
  .features-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-list {
    gap: 72px 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .features-list {
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* =============team================ */
.team {
  background-color: #f4f4fd;
  padding-top: 96px;
}
.team-title {
  color: #2e2f42;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}
.team-list-item {
  background-color: #ffffff;

  border-bottom: 1px solid #e7e9fc;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list-item:hover {
}

.team-list-container {
  padding: 32px 0;
}
.team-list-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.team-list-text {
  text-align: center;
}
.team-icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-icons-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
  team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* ====================team end============= */
/* ===================portfolio============== */
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-list:hover,
.portfolio-list:focus {
}
.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cashless-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-picture {
  flex-shrink: 0;
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .cashless-cover-text {
  transform: translateY(0);
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.cashless-cover-block {
  background: #4d5ae5;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cashless-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;

  font-family: Roboto;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* ===============portfolio end========== */
/* ===================footer============== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;

  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em; /* 0.54/18 */
  text-transform: uppercase;
}
.footer-logo-studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.footer-social-container {
  margin-right: 80px;
}
.footer-social-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
}
.footer-social-item {
  width: 40px;
  height: 40px;

  fill: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-form-text {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-form-wrap {
}
.footer-form-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  background-color: inherit;
  padding: 8px 0 8px 16px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-button {
  background-color: #4d5ae5;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  font-weight: 500;
  min-width: 165px;
  height: 40px;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}
.footer-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ==================footer end=========== */
/* ===================modal window========== */
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(46, 47, 66, 0.4);
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrap {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
}
.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}
.modal-title {
  color: #2e2f42;
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.modal-form-item {
  margin-bottom: 8px;
}
.modal-form-item-text {
  margin-bottom: 16px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 360px;
  height: 40px;
  padding-left: 38px;
  flex-shrink: 0;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.input-title {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-label {
  color: #8e8f99;

  font-family: Roboto;
  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration-line: underline;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-checkbox:checked + .modal-checkbox-label > .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-checkbox-link {
  color: #4d5ae5;
}
.modal-form-item-checkbox {
  margin-bottom: 24px;
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;

  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
